@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --color-primary: #006241;
    --color-secondary: #d50032;
    --color-extra: #d4e9e2;
    --color-dark: 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    color: #000;
}

a {
    color: #000;
}

ul {
    list-style: none;
}

p {
    margin: 5px;
    line-height: 1.7;
}

img {
    max-width: 100%;
}

section a {
    color: #fff;
}

/* Navbar */
.navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 15px;
    font-weight: bold;
}

.navbar a {
    color: #000;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--color-primary);
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-nav-left {
    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
}

.navbar-nav-right li:first-child a {
    display: flex;
    padding-top:24px;
}

.navbar-nav-right img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.navbar-nav-right li:nth-child(2) {
    margin: 0 5px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: none;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}

.btn-dark-outline {
  border-color: #000;
  color: #000;
}

.btn-dark-outline:hover,
.btn-light-outline:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.box-internal .btn btn-light-outline{
    padding-top: 20px;
}

.btn-light-outline {
  border-color: black;
  color: black;
  font-weight: bold;
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-dark:hover {
  background-color: #333;
}

.box-internal{
    text-align: center;
    justify-content: center;
    background-color: #d4e9e2;
    padding: 40px 40px 40px 40px;
}

.box-internal-two{
    background-color: #d4e9e2;
    padding: 40px 10px 40px 40px
}

.text-xl {
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 0.6px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


.text-xl-two{
font-size: 30px;
padding-left: 10px;
padding-bottom: 20px;
font-weight: 100px;
}

.box-text-two{
    padding-left: 10px;
}

.text-md {
    font-size: 19px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.listinternal{
    padding-left: 10px;
}

.text-md-two {
    font-size: 19px;
    padding-left: 10px;
}
  
.box{
    padding-top : 30px;
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.box-text, .box-text-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.box-three{
    padding-top : 30px;
    Display:grid;
    grid-template-columns: 50% 50%;
}


.box-internal-three{
    text-align: center;
    justify-content: center;
    background-color: #006241; 
    padding: 20px 20px 20px 20px;
}
.box-image > img{
    height: 100%
}

.text-xl-three {
    font-size: 50px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    letter-spacing: 4px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

.text-md-three{
    color: #ffffff;
        font-size: 20px;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;

}


    .p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    


.btn-three{
   border-color: #ffffff;
  color: #ffffff;
  border-radius: 50px;
  font-weight : bold;
  cursor: pointer;
}

.btn-three:hover{
   background-color: rgba(0, 0, 0, 0.10);
}

.bottom-text{
    padding-top : 30px;
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.text-condition{
    padding-top : 60px;
    padding-left : 260px;
    padding-right: 260px;
}

.text-xl-boxtwo{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-left:10px;
}
  

.listinternal{
    padding-top: 20px;
    padding-left: 50px;
}

.footer-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 30px 30px 30px;
}

.social {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.social img {
    width: 35px;
    height: 35px;
}

.social a {
    text-decoration: none;
    margin-right: 20px;
}

.divider {
    width: 95%;
    height: 1px;
    background-color: #ccc;
    margin: 40px auto;

}

.box-image-three > img{
    height: 100%
}



  .bd-grid{
    display: grid;
    gap: 1.5rem;
    padding-bottom: 30px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  }

  .footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }
  
  .footer__title{
    padding-bottom: 20px;
    font-size: 20px;
    color: black;
    margin-bottom: var(--mb-2);
    font-weight: none;
  }
  
  .footer__link{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    color: grey;
    margin-bottom: var(--mb-1);
  }
  
.bd-grid{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    gap: 100px;
    align-items: flex-start;
}

  .footer__link:hover{
    color: black;
  }

@media (max-width: 768px) {
    
    .hamburger {
        display: block;
    }

    .box {
        grid-template-columns: 1fr;
    }

    .box-three{
        grid-template-columns: 1fr;
    }

    .navbar-brand img {
        width: 40px;
        height: 40px;
    }
    
    .navbar .navbar-nav-left,
    .navbar .navbar-nav-right {
        display: none;
    }

    .bd-grid {
        flex-wrap: wrap;
    }
    
    .text-condition{
        padding-left: 80px;
    }

    .text-xl-three{
     font-size: 30px ;
    }

    .text-md-three{
     font-size: 12px;
    }
}

